
<hr class="style-nav">

<div class="row">

<table class="table">
<table class="table table-striped table-responsive">
  <tr>
    <th class="center"><%= sort_link @q, :title %></th>
    <th class="center"><%= sort_link @q, :author %></th>
    <th class="center"><%= sort_link @q, :description %></th>
    <th class="center"><%= sort_link @q, :price %></th>

  </tr>

  <% @results.each do |result| %>
    <tr>
      <td><%= result.title %></td>
      <td><%= result.author %></td>
      <td><%= truncate(result.description, :length => 40, :omission => " ... ") %></td>
      <td><%= result.price %></td>
    </tr>

  <% end %>
</table>
</table>

<div class="center">
<!-- Paginate books -->
<%= paginate @results %>
</div>
</div>
